{% extends 'app/base.html' %} {% load static %} {% block title %}Reset
Password{% endblock title %} {% block main-content %}
<div class="container ">
  <div class="row my-3">
      
    <div class="col-sm-6 offset-sm-3">
    

     
        <h3> Password Reset Completed</h3>
        <div>
            
            <iframe src="https://giphy.com/embed/sBLcw5Ic4QUTK" width="480" height="288" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>


</div>

{% endblock main-content %}
